{% extends 'base.html.twig' %}

{% block title %}Enregistrez vous{% endblock %}

{% block body %}
<div class="container my-4 p-3 border ligth-color">
    <h1 class="h3 mb-3 font-weight-normal text-center">Enregistrez vous</h1>

    {{ form_start(form) }}

    {{ form_widget(form) }}

        <button class="btn btn-lg btn-primary" type="submit">
            Inscription
        </button>

    {{ form_end(form) }}
</div>

{% endblock %}
