{{ form_start(form) }}

    <div class="row">
        <div class="col-6 form-group mx-auto my-2">
            {{ form_row(form.nom) }}
        </div>
    </div>

    <hr class="my-4 w-50">

    <div class="col-md-6 form-group mx-auto my-2">
        <button type="submit" class="btn btn-success w-100">Ajouter</button>
    </div>

{{ form_end(form) }}

<div class="col-md-6 form-group mx-auto my-3">
    <a class="btn btn-primary w-100" href="{{ path('categorie_index') }}">Retour à la liste des produits</a>
</div>